/.vs
/SK01/bin
/SK01/obj
/SK02WithZhipu/bin
/SK02WithZhipu/obj
/SK03WithOpenAI/bin/Debug/net9.0
/SK03WithOpenAI/obj
/OneApi/bin/Debug/net9.0
/OneApi/obj
/SK05MultipleAi/obj
/SK05MultipleAi/bin/Debug/net9.0
/SK06DependencyInjection/bin/Debug/net9.0
/SK06DependencyInjection/obj
/SK08Prompt/obj/Debug/net9.0
/SK08Prompt/bin/Debug/net9.0
/SK08Prompt/obj
/SK09DefinePrompt/bin/Debug/net9.0
/SK09DefinePrompt/obj
/SK10PromptTemplate/bin/Debug/net9.0
/SK10PromptTemplate/obj
/SK11HandlebarsTemplate/obj
/SK11HandlebarsTemplate/bin/Debug/net9.0
/SK12LinquidTemplate/obj
/SK12LinquidTemplate/bin/Debug/net9.0
/SK13PromptFilter/obj
/SK13PromptFilter/bin/Debug/net9.0
/SK14Plugin/bin/Debug/net9.0
/SK14Plugin/obj
