/.vs
/SK01/bin
/SK01/obj
/SK02WithZhipu/bin
/SK02WithZhipu/obj
/SK03WithOpenAI/bin/Debug/net9.0
/SK03WithOpenAI/obj
/OneApi/bin/Debug/net9.0
/OneApi/obj
/SK05MultipleAi/obj
/SK05MultipleAi/bin/Debug/net9.0
